
.card-carousel {
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-carousel .my-card {
    max-height: 200px;
    max-width: 200px;
   min-width: 150px;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: #2e5266;
    background: linear-gradient(to top, #2e5266, #6e8898);
    transition: 1s;
    display: none;
}



.card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
    display: block;
}

.card-carousel .my-card.prev, .card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(0.8) translateY(-1rem) translateX(0);
    transform: scale(0.8) translateY(-1rem) translateX(0);
    opacity: 0.6;
    pointer-events: auto;
    transition: 1s;
    display: block;
}

/*!*********************************************************************!*/
/*!* Bootstrap 4 Multiple Item Carousel *!*/
/*!*********************************************************************!*/
/*!* medium - display 4  *!*/
/*.multi-slider-small-Items{*/
/*    max-height: 150px;  min-width: 100%;*/
/*    min-height: 100%;  max-width: 100%;*/
/*}*/

/*.multi-slider-small-Items-image-container{*/
/*    margin: auto;width: 100%;max-width: 125px;*/
/*}*/

/*@media only screen and (min-width: 959px) {*/

/*}*/

/*!* Tablet Portrait size to standard 960 (devices and browsers) *!*/
/*@media only screen and (min-width: 768px) and (max-width: 959px) {*/

/*}*/


/*!* Mobile Landscape Size to Tablet Portrait (devices and browsers) *!*/
/*@media only screen and (min-width: 620px) and (max-width: 767px) {*/

/*}*/

/*!* Mobile Landscape Size to Tablet Portrait (devices and browsers) *!*/
/*@media only screen and (min-width: 480px) and (max-width: 620px) {*/

/*    .carousel-inner .carousel-item-right.active,*/
/*    .carousel-inner .carousel-item-next {*/
/*        transform: translateX(33.333%);*/
/*    }*/

/*    .carousel-inner .carousel-item-left.active,*/
/*    .carousel-inner .carousel-item-prev {*/
/*        transform: translateX(-33.333%);*/
/*    }*/
/*}*/

/*!* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) *!*/
/*@media only screen and (max-width: 479px) {*/


/*    .carousel-inner .carousel-item-right.active,*/
/*    .carousel-inner .carousel-item-next {*/
/*        transform: translateX(50%);*/
/*    }*/

/*    .carousel-inner .carousel-item-left.active,*/
/*    .carousel-inner .carousel-item-prev {*/
/*        transform: translateX(-50%);*/
/*    }*/

/*}*/

/*!* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) *!*/
/*@media only screen and (max-width: 300px) {*/

/*    .carousel-inner .carousel-item>div {*/
/*        display: none;*/
/*    }*/

/*    .carousel-inner .carousel-item>div:first-child {*/
/*        display: block;*/
/*    }*/
/*}*/

/*.carousel-inner .carousel-item.active,*/
/*.carousel-inner .carousel-item-next,*/
/*.carousel-inner .carousel-item-prev {*/
/*    display: flex;*/
/*}*/

/*.carousel-inner .carousel-item-right,*/
/*.carousel-inner .carousel-item-left {*/
/*    transform: translateX(0);*/
/*}*/
