body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
    height: 100vh;
    max-height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #3F9E9E;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #3F9E9E;
    }

.text-neon {
    color: #49FFE1 !important;
    font-size: 12px;
}

.bg-fancy {
    background-color: #0a1117 !important;
}

.shadow-fancy {
    box-shadow: 0rem 0rem 0.10rem 0rem #1CB2C3;
}




.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1.5rem;
    outline: 0;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: #2f2f2f !important;
}

.form-switch .form-check-input {
    width: 2em;
    margin-left: 0em;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e);
    background-position: left center;
    border-radius: 2em;
    transition: background-position 0.15s ease-in-out;
}

.splash-screen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #FFFCF9;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*
headeer top
*/
.topbar {
    background-color: #212529;
    padding: 0;
}

    .topbar .container .row {
        margin: -7px;
        padding: 0;
    }

        .topbar .container .row .col-md-12 {
            padding: 0;
        }

    .topbar p {
        margin: 0;
        display: inline-block;
        font-size: 13px;
        color: #f1f6ff;
    }

        .topbar p > i {
            margin-right: 5px;
        }

        .topbar p:last-child {
            text-align: right;
        }

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

    .topbar li.topbar:hover {
        color: #1bbde8;
    }

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
    border: none;
    margin: 0;
    padding: 0;
}

    ul.social-network li {
        border: none;
        margin: 0;
    }

        ul.social-network li i {
            margin: 0;
        }

    ul.social-network li {
        display: inline;
        margin: 0 5px;
        border: 0px solid #2D2D2D;
        padding: 5px 0 0;
        width: 32px;
        display: inline-block;
        text-align: center;
        height: 32px;
        vertical-align: baseline;
        color: #000;
    }

ul.social-network {
    list-style: none;
    margin: 5px 0 10px -25px;
    float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}

a {
    color: #0a0a0a;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bg-dark {
    background-color: #222 !important;
}

.sideMenu-selected {
    color: #49FFE1;
}

.btn-primary {
    color: #fff;
    background-color: #0a8873;
    border-color: #0a8873;
}

.btn-outline-primary {
    color: #fff;
    border-color: #0a8873;
}

    .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active,
    .btn-outline-primary.active, .open > .dropdown-toggle.btn-outline-primary {
        color: #fff;
        background-color: transparent;
        border-color: #285e8e; /*set the color you want here*/
    }

.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #54d400 48%, #1b1e21 48%);
    background: -webkit-linear-gradient(left, #54d400 48%, #1b1e21 48%);
    background: linear-gradient(45deg, #54d400 48%, #1b1e21 48%);
}

.description-over-image {
    opacity: 0.6;
    position: absolute;
    bottom: 0px;
    padding-left: 10px;
}

.background-folder-card {
    background-image: url('../assets/images/folder.png');
    background-position: center;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;
    background-repeat: no-repeat;
}



.small-card-image-container {
    margin: auto;
    width: 100%;
    max-width: 160px;
}

.modal-icon-controls {
    max-height: 30px;
    max-width: 30px;
}

.modal-icon-controls-container {
    height: 100%;
    max-width: 30px;
}

@media screen and (max-width: 250px) {
    .d-block-xxs {
        display: block;
    }

    .d-none-xxs {
        display: none;
    }

    body {
        background-color: lightpink;
    }
}

@media screen and (min-width: 250px) {
    .d-block-xxs {
        display: none;
    }

    .d-none-xxs {
        display: block;
    }
}

.gridSystem {
    max-height: calc(100vh - 10vh);
}

.mySidebar {
    max-height: calc(100vh - 10vh);
}

.homeSlider {
    height: 10vh !important;
}

.mainContainer {
    height: calc(100vh - 10vh);
    max-height: calc(100vh - 10vh);
}

.small-card {
    max-height: 100px;
    width: 200px;
    padding: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 959px) {


    .sticky {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1020;
        width: 170px;
        height: 10vh;
        max-height: 70px;
        margin: 10px;
        background-image: url('../assets/images/logo.png');
        background-size: contain;
        background-repeat: no-repeat
    }

    .slider-background {
        background-position: center;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
    }

    .my-carousel-caption {
        position: absolute;
        right: 50%;
        bottom: 2.25rem;
        left: 10%;
        padding-top: 0px;
        padding-bottom: 0px;
        color: #fff;
        text-align: center;
        height: 50%;
    }

    .first-triple-home {
        max-height: 230px;
        max-width: 30%;
    }

    .sideMenu-width {
        flex: 0 0 auto;
        width: 160px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

    .sticky {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1020;
        width: 170px;
        height: 10vh;
        max-height: 70px;
        margin: 10px;
        background-image: url('../assets/images/logo.png');
        background-size: contain;
        background-repeat: no-repeat
    }

    .slider-background {
        background-position: center;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
    }

    .my-carousel-caption {
        position: absolute;
        right: 50%;
        bottom: 2.25rem;
        left: 10%;
        padding-top: 0px;
        padding-bottom: 0px;
        color: #fff;
        text-align: center;
        height: 50%;
    }

    .first-triple-home {
        max-height: 230px;
    }

  

    .sideMenu-width {
        flex: 0 0 auto;
        width: 19%;
    }
}


/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 620px) and (max-width: 767px) {


    .sticky {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1020;
        width: 170px;
        height: 10vh;
        max-height: 70px;
        margin: 10px;
        background-image: url('../assets/images/logo.png');
        background-size: contain;
        background-repeat: no-repeat
    }

    .slider-background {
        background-position: 70%;
        background-size: cover;
    }

    .my-carousel-caption {
        position: absolute;
        right: 50%;
        bottom: 2.25rem;
        left: 10%;
        padding-top: 0px;
        padding-bottom: 0px;
        color: #fff;
        text-align: center;
        height: 50%;
    }

    .large-card {
        max-height: 250px;
        width: 50%;
    }

   

    .sideMenu-width {
        flex: 0 0 auto;
        width: 25%;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 620px) {


    .sticky {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1020;
        width: 170px;
        height: 10vh;
        max-height: 70px;
        margin: 10px;
        background-image: url('../assets/images/logo.png');
        background-size: contain;
        background-repeat: no-repeat
    }

    .slider-background {
        background-position: 70%;
        background-size: cover;
    }

    .my-carousel-caption {
        position: absolute;
        right: 50%;
        bottom: 2.25rem;
        left: 10%;
        padding-top: 0px;
        padding-bottom: 0px;
        color: #fff;
        text-align: center;
        height: 50%;
    }

    .large-card {
        max-height: 250px;
    }

    .d-block-xxs {
        display: none;
    }

    .d-none-xxs {
        display: block;
    }

    

    .sideMenu-width {
        flex: 0 0 auto;
        width: 27%;
    }
}

@media only screen and (max-width: 575px) {

    .sticky {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1020;
        width: 170px;
        height: 10vh;
        max-height: 70px;
        margin: 10px;
        background-image: url('../assets/images/logo.png');
        background-size: contain;
        background-repeat: no-repeat
    }

    .col-xsm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-xsm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xsm-4 {
        flex: 0 0 auto;
        width: 30.333%;
    }

    .col-xsm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .first-triple-home {
        max-height: 200px;
        min-width: 150px;
    }


    .d-none-xs {
        display: none;
    }

    .sideMenu-width {
        flex: 0 0 auto;
        width: 30%;
    }
}

@media only screen and (max-width: 525px) {

    .sticky {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1020;
        width: 170px;
        height: 10vh;
        max-height: 70px;
        margin: 10px;
        background-image: url('../assets/images/logo.png');
        background-size: contain;
        background-repeat: no-repeat
    }

    .col-xsm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-xsm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xsm-4 {
        flex: 0 0 auto;
        width: 30.333%;
    }

    .col-xsm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .first-triple-home {
        max-height: 200px;
        min-width: 150px;
    }

    .small-card {
        max-height: 100px;
        width: 200px;
        padding: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .d-none-xs {
        display: none;
    }

    .sideMenu-width {
        flex: 0 0 auto;
        width: 33.3333%;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

    .gridSystem {
        max-height: calc(100vh - 190px);
    }

    .mySidebar {
        max-height: 150px !important;
    }

    .homeSlider {
        height: 60px !important;
    }

    .mainContainer {
        height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
        flex-direction: column !important;
    }

    .sticky {
        width: 100px;
        position: relative;
        display: block;
        height: 20%;
        max-height: 20%;
        min-height: 25px;
        z-index: 1020;
        margin: 2px;
        background-image: url(../assets/images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .slider-background {
        background-position: 60%;
        background-size: cover;
    }

    .my-carousel-caption {
        position: absolute;
        right: 35%;
        bottom: 2.25rem;
        left: 20%;
        padding-top: 0px;
        padding-bottom: 0px;
        color: #fff;
        text-align: center;
        height: 50%;
    }

    .col-xsm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-xsm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-xsm-4 {
        flex: 0 0 auto;
        width: 30.333%;
    }

    .col-xsm-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .first-triple-home {
        max-height: 200px;
        min-width: 150px;
    }

    .small-card {
        max-height: 80px;
        width: 160px;
        padding: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .d-none-xs {
        display: none;
    }

    .sideMenu-width {
        flex: 0 0 auto;
        width: 100%;
        min-width: 150px;
    }
}

@media only screen and (max-width: 380px) {

    .gridSystem {
        max-height: calc(100vh - 190px);
    }

    .mySidebar {
        max-height: 150px !important;
    }

    .homeSlider {
        height: 60px !important;
    }

    .mainContainer {
        height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
    }

    .sticky {
        width: 100px;
        position: relative;
        display: block;
        height: 20%;
        max-height: 20%;
        min-height: 25px;
        z-index: 1020;
        margin: 2px;
        background-image: url(../assets/images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .slider-background {
        background-position: 60%;
        background-size: cover;
    }

    .my-carousel-caption {
        position: absolute;
        right: 35%;
        bottom: 2.25rem;
        left: 20%;
        padding-top: 0px;
        padding-bottom: 0px;
        color: #fff;
        text-align: center;
        height: 50%;
    }

    .col-xxsm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-xxsm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .d-none-xxs {
        display: none;
    }

    .first-triple-home {
        max-height: 200px;
        min-width: 150px;
    }

    .small-card {
        max-height: 100px;
        width: 200px;
        padding: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }


    .sideMenu-width {
        flex: 0 0 auto;
        width: 100%;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 300px) {

    .gridSystem {
        max-height: calc(100vh - 190px);
    }

    .mySidebar {
        max-height: 150px !important;
    }

    .homeSlider {
        height: 60px !important;
    }

    .mainContainer {
        height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
    }

    .sticky {
        width: 100px;
        position: relative;
        display: block;
        height: 20%;
        max-height: 20%;
        min-height: 25px;
        z-index: 1020;
        margin: 2px;
        background-image: url(../assets/images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .slider-background {
        background-position: 60%;
        background-size: cover;
    }

    .my-carousel-caption {
        position: absolute;
        right: 35%;
        bottom: 2.25rem;
        left: 20%;
        padding-top: 0px;
        padding-bottom: 0px;
        color: #fff;
        text-align: center;
        height: 50%;
    }

    .col-xxsm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-xxsm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .d-none-xxs {
        display: none;
    }

    .first-triple-home {
        max-height: 200px;
        min-width: 150px;
    }

    .small-card {
        max-height: 100px;
        width: 200px;
        padding: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }


    .sideMenu-width {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media only screen and (max-width: 200px) {

    .gridSystem {
        max-height: calc(100vh - 190px);
    }

    .mySidebar {
        max-height: 150px !important;
    }

    .homeSlider {
        height: 60px !important;
    }

    .mainContainer {
        height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
    }

    .sticky {
        width: 100px;
        position: relative;
        display: block;
        height: 20%;
        max-height: 20%;
        min-height: 25px;
        z-index: 1020;
        margin: 2px;
        background-image: url(../assets/images/logo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .slider-background {
        background-position: 60%;
        background-size: cover;
    }

    .my-carousel-caption {
        position: absolute;
        right: 35%;
        bottom: 2.25rem;
        left: 20%;
        padding-top: 0px;
        padding-bottom: 0px;
        color: #fff;
        text-align: center;
        height: 50%;
    }

    .col-xxsm-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-xxsm-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .d-none-xxs {
        display: none;
    }

    .first-triple-home {
        max-height: 200px;
        min-width: 150px;
    }

    .small-card {
        max-height: 100px;
        width: 100%;
        padding: 1px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }


    .sideMenu-width {
        flex: 0 0 auto;
        width: 100%;
    }
}

@media screen and (max-height: 400px) {
    .gridSystem {
        max-height: calc(100vh - 160px);
    }

    .mySidebar {
        max-height: 100px !important;
    }

    .homeSlider {
        height: 60px !important;
    }

    .mainContainer {
        height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
    }
}


